
<!DOCTYPE HTML>
<html>
<head>
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ page.description }}" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.vertical-tabs.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ ASSET_PATH }}/js/jquery-1.11.1.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="{{ ASSET_PATH }}/css/style.css" rel='stylesheet' type='text/css' />
<link href="{{ ASSET_PATH }}/css/main.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!----start-top-nav-script---->
    <script>
      $(function() {
        var pull    = $('#pull');
          menu    = $('nav ul');
          menuHeight  = menu.height();
        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });
        $(window).resize(function(){
              var w = $(window).width();
              if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
              }
          });
      });
    </script>
    <!----//End-top-nav-script---->

</head>
<body>
 <!----start-header---->
    <div class="header">
      <div class="container">
           <div class="clearfix"></div>
          <div class="header_top">
        <div class="logo">
          <a href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/images/logo.png" alt=""></a>
        </div>
          <div class="menu">
          <a class="toggleMenu" href="#"><img src="{{ ASSET_PATH }}/images/nav_icon.png" alt="" /> </a>
          <ul class="nav" id="nav">
            {% for link in site.data.links %}
              {% assign active = nil %}
                {% if page.url contains link.url %}
                  {% assign active = 'current' %}
                {% endif %}
              <li class="{% if forloop.first %}{% endif %} {{ active }} {% if forloop.last %}{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <script type="text/javascript" src="{{ ASSET_PATH }}/js/responsive-nav.js"></script>
        </div>              
          <div class="clearfix"> </div>
          <!----//End-top-nav---->
       </div>
       </div>
    </div>
    <!----//End-header---->
    <div class="services">
     <div class="container">
      <div class="col-md-9">


{{ content }}


        </div>  

<!-- SideBar -->

      <div class="col-md-3 sidebar">
        <div class="search">
           <form>
           <input type="text" value="Search..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
           <input type="submit" value="">
           </form>
         </div>
         <img src="{{ ASSET_PATH }}/images/2.jpg" class="img-responsive" alt=""/>
         <ul class="blog-list">
          <h3>Categories</h3>
          {% include sidebar/cat.html %}
         </ul>

         <!-- TagCloud -->

{% include sidebar/tagcloud.html %}
         <!-- TagCloud -->
         <div class="blog_list2">

<!-- Recent Posts -->
{% include sidebar/recent.html %}

          </div>  
       </div>
     <div class="clearfix"> </div>
     </div>
    </div>
<!-- EndSideBar -->


     <div class="footer">
    <div class="container">
      <div class="col-md-3 footer_grid">
        <img src="{{ ASSET_PATH }}/images/f_logo.png" alt=""/>
        <p>Скорей ныряй в мой тихий омут - ты нравишься моим чертям</p>
            <ul class="footer_links">
              <li><a href="#">Read More</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
            {% include footer/social.html %}
        <div class="copy">
        <p>&copy; 2015 by <a href="https://twitter.com/{{site.author.twitter}}" target="_blank"> droboshok</a></p>
      </div>
        </div>
        <div class="col-md-3 footer_grid1">
        <h3>Последнее из блога</h3>
        {% include footer/recent.html %}


        </div>
        <div class="col-md-3 footer_grid1">

<!-- FooterTagsCloud -->
        {% include footer/tagcloud.html %}

      </div>
        <div class="col-md-3 footer_grid1">
        <h3>Flicker Widget</h3>
        <ul class="widget_links">
      <li><img src="{{ ASSET_PATH }}/images/f4.jpg" class="img-responsive" alt=""/></li>
      <li><img src="{{ ASSET_PATH }}/images/f5.jpg" class="img-responsive" alt=""/></li>
      <li><img src="{{ ASSET_PATH }}/images/f6.jpg" class="img-responsive" alt=""/></li>
      </ul>
      <ul class="widget_links">
      <li><img src="{{ ASSET_PATH }}/images/f7.jpg" class="img-responsive" alt=""/></li>
      <li><img src="{{ ASSET_PATH }}/images/f8.jpg" class="img-responsive" alt=""/></li>
      <li><img src="{{ ASSET_PATH }}/images/f9.jpg" class="img-responsive" alt=""/></li>
      </ul>
      </div>
    </div>
   </div>
</body>
</html>   